@mixin gridCol($value) {
  .iconAll__grid {
    grid-template-columns: repeat($value, minmax(0, 1fr));
  }
}
@mixin buttonSizes($fontValue) {
  .iconAll {
    .btn-group {
      margin-bottom: 20px;
      button {
        font-size: $fontValue;
        margin: 5px;
        border-radius: 5px !important;
      }
    }
  }
}
.iconAll {
  padding: 10px;
  .MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected {
    color: #0091ea;
  }
  .MuiButtonBase-root.MuiBottomNavigationAction-root {
    outline: 0;
    color: #78909c;
  }
  .iconAll__grid {
    display: grid;
    grid-gap: 0.25rem;
    gap: 0.25rem;
  }
  .iconAll__pagenation {
    margin: 20px auto;
    .MuiPagination-ul {
      justify-content: center;
    }
  }
  .btn-group {
    overflow-x: hidden;
    margin-bottom: 20px;
    button {
      margin: 5px;
      border-radius: 5px !important;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}
@media (min-width: 320px) {
  @include gridCol(2);
  @include buttonSizes(14px);
}
@media (min-width: 576px) {
  @include gridCol(4);
  @include buttonSizes(14px);
}
@media (min-width: 768px) {
  @include gridCol(5);
  @include buttonSizes(14px);
}
@media (min-width: 1024px) {
  @include gridCol(6);
  @include buttonSizes(15px);
}
@media (min-width: 1366px) {
  @include gridCol(6);
  @include buttonSizes(15px);
}
