.navbar {
  font-family: sans-serif;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 2;
  .navbar-toggler {
    outline: 0;
    border: none;
    padding: 2px;
    background-color: transparent !important;
  }
  .navbar-nav {
    .nav-item {
      margin-right: 10px;
      .nav-link {
        font-size: 16px;
        color: rgb(82, 82, 82);
        cursor: pointer;
      }
      .dropdown-menu {
        background-color: #263238;
        .dropdown-item {
          text-transform: capitalize;
          color: white;
        }
        .dropdown-item:hover {
          background-image: none;
          background-color: #37474f;
        }
      }
    }
  }
}
.scroll {
  transition: all 0.5s ease;
  background-color: #212121 !important;
  .navbar-toggler {
    .menuIcon {
      color: rgb(230, 230, 230);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #8ca1b4;
      }
      .dropdown-menu {
        background-color: #263238;
        .dropdown-item {
          color: #8ca1b4;
        }
        .dropdown-item:hover {
          background-image: none;
          background-color: #37474f;
        }
      }
    }
  }
}
.inputSearchColor {
  background-color: #455a64 !important;
  color: white !important;
  &::placeholder {
    color: #92a9b4;
  }
  border: none;
  outline: 0;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .navbar {
    .navbar-nav {
      .nav-item.dropdown:nth-of-type(1) {
        .dropdown-menu.show {
          height: max-content;
        }
      }
      .nav-item.dropdown:nth-of-type(2) {
        .dropdown-menu.show {
          height: 300px;
          overflow-y: scroll;
        }
      }
      .nav-item.dropdown:nth-of-type(3) {
        .dropdown-menu.show {
          height: 300px;
          overflow-y: scroll;
        }
      }
    }
  }
}
