.jumbotron {
  background-color: white;
}
.banner {
  .banner_title {
    font-weight: 600;
    font-size: 20px;
    color: #37474f;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .banner {
    .banner_title {
      font-size: 16px;
      font-family: math;
    }
  }
}
